#navbar
{
    display:flex;
    border:1px solid black;
    /* justify-content: flex-end,space-evenly; */
    justify-content: space-evenly;
    width:100%;
    padding: 2px;
    box-sizing: border-box;
   

}
#coffee_count
{
    /* border: 1px solid black; */
    height: 10px;
    width:20px;
    margin-top:20px;
    font-size: 40px;
}
#menu
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}
#img1
{
    width:250px;
    height: 200px;
    display: block;
    margin: auto;
}
#div1
{
    border: 1px solid blue;
    padding: 5px;
    text-align: center;
}
